@charset "utf-8";
/*全局设定*/
html{font-size:50PX;}
/*html{font-size:calc(100vw/7.5);}*/

*{border:none;box-sizing: border-box;font-family:"苹方","Microsoft YaHei","Helvetica";outline: none; margin: 0; padding: 0; }
body{width:100%;font-size:0.28rem; font-style:normal;color: #555555; overflow-x:hidden;background-color:#F0EFF5;margin: 0;line-height: 1;}

ul{padding: 0;}
li{list-style: none;}
i, cite, em, var, address, dfn {font-style:normal;}
a{color:inherit;text-decoration: none;}

input,button,textarea{/* appearance: none;-moz-appearance: none;-webkit-appearance: none; */ border-radius:0;-webkit-tap-highlight-color:transparent;background-color: transparent;color: #555555;padding: 0;font-size: .28rem;line-height: inherit;}


input::-webkit-input-placeholder{color: #DDDDDD;}
input:-moz-placeholder{color: #DDDDDD;}
input::-moz-placeholder{color: #DDDDDD;}
input:-ms-input-placeholder{color: #DDDDDD;}
textarea::-webkit-input-placeholder{color: #DDDDDD;}
textarea:-moz-placeholder{color: #DDDDDD;}
textarea::-moz-placeholder{color: #DDDDDD;}
textarea:-ms-input-placeholder{color: #DDDDDD;}
/*全局设定*/

/*常用样式*/
.web_body{overflow-x:hidden; min-height: 100vh;padding-bottom: .24rem;width: 100%;max-width: 15rem;margin-left: auto;margin-right: auto;}
.disscroll{height: 100vh;overflow: hidden;}
.pt_a{padding-top: 0.98rem !important;}
.pt_b{padding-top: 1.96rem !important;}
.pb_a{padding-bottom: 1.12rem !important;}
.pb_b{padding-bottom: 2.1rem !important;}
.pb_z{padding-bottom: 2rem;}

.scroll{-webkit-overflow-scrolling : touch;}
.noselect,.apptab,.header,.footer,.selectbar_btn1,.selectbar_btn2{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

.fr{float:right;}
.fl{float:left;}

.mt12{ margin-top:0.12rem;}
.mt24{ margin-top:0.24rem;}
.mt36{ margin-top:0.36rem;}

.mb24{ margin-bottom:0.24rem;}


.ma_a{margin-left:0.12rem; margin-right:0.12rem;}
.ma_b{margin-left:0.24rem; margin-right:0.24rem;}

.pa_a{padding-left:0.12rem; padding-right:0.12rem;}
.pa_b{padding-left:0.24rem; padding-right:0.24rem;}
.pa_c{padding-left:0.36rem; padding-right:0.36rem;}
.pa_d{padding-left:0.48rem; padding-right:0.48rem;}

.pf_a{padding:.12rem;}
.pf_b{padding:.24rem;}

.mr_a{margin-right: .12rem;}

.pl_a{padding-left: .12rem;}
.pl_b{padding-left: .24rem;}
.pr_a{padding-right: .12rem;}
.pr_b{padding-right: .24rem;}

.bc1{background-color:#FFFFFF;}
.bc2{background-color:#F0EFF5;}
.bc3{background-color:#E55E03;}
.bc4{background-color:#DDDDDD;}
.bc5{background-color:#F5F5F5;}
.c1{color: #AAAAAA}
.c2{color: #E55E03}
.c3{color: #333333}
.c4{color: #DDDDDD}
.c5{color: #555555}
.c6{color: #FFFFFF}
.c7{color: #34A5E5}
.c8{color: #44B138}
.c9{color: #FF5A5F}
.c10{color: #F4A425}

.ac:active{background-color:#F5F5F5;}
.bc2.ac:active{background-color:#FFFFFF;}
.bc3.ac:active{background-color:#ee7f33;}
.bc5.ac:active{background-color:#FFFFFF;}

.bg1,.bg2{background-position: center;background-repeat: no-repeat;}
.bg1{background-size: cover;}
.bg2{background-size: contain;}


.pr2{padding-right: .4rem !important;}

.hide{display: none;}
.nopd{padding: 0 !important;}
.nomg{margin: 0 !important;}
.cl{overflow: hidden;}

.txt{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tc{text-align: center;}
.tr{text-align: right;}
.tl{text-align: left;}
.lh12{line-height: 1.2;}
.lh13{line-height: 1.3;}
.lh15{line-height: 1.5;}
.lhh38{}

.fwb{font-weight: bold;}
.f20{font-size: .20rem;}
.f22{font-size: .22rem;}
.f24{font-size: .24rem;}
.f28{font-size: .28rem;}
.f30{font-size: .30rem;}
.f32{font-size: .32rem;}
.f36{font-size: .36rem;}


.w10{width: 10%}
.w15{width: 15%}
.w20{width: 20%}
.w25{width: 25%}
.w30{width: 30%}
.w33{width: 33.3333%}
.w40{width: 40%}
.w50{width: 50%}
.w60{width: 60%}
.w66{width: 66.6666%}
.w100{width: 100%}


.bort{border-top: 1PX #DDDDDD solid;}
.borb{border-bottom: 1PX #DDDDDD solid;}
.borr{border-right: 1PX #DDDDDD solid;}
.borl{border-left: 1PX #DDDDDD solid;}

.conbox{box-sizing: content-box;}
.block{display: block;}

.flexcenter{display: -webkit-flex;display: flex;align-items: center;justify-content: center;}
.flexdown{display: -webkit-flex;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.flex{display: -webkit-flex;display: flex;align-items: center;justify-content: space-between;}
.flexauto{display: -webkit-flex;display: flex;align-items: center;justify-content:space-around;}

.readyfix{position: relative;z-index: 2;}
.header,.footer{position: fixed;left: 0;right: 0;z-index: 200}
.header{top: 0;}
.footer{bottom: 0;}

.anime{transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;}
/*常用样式*/
