.layout-page-member {

  .member-header {
    width: 100%;
    background-color: #ea7a99;

    .member-header-h1 {
      text-align: right;
      width: 100%;
      padding: 0 .2rem;

      .member-header-item {
        display: inline-block;
        text-align: center;
        padding: .15rem 0;
        margin-left: .3rem;

        .member-header-icon {
          width: .4rem;
          height: .4rem;
        }

      }
    }

    .member-header-h2 {
      //margin-top: -.3rem;
      position: relative;

      .left {
        display: inline-block;
        position: relative;
        margin-top: -.2rem;
        margin-right: .2rem;

        .head_pic {
          width: 1.5rem;
          height: 1.5rem;
          border: none;
          border-radius: 50%;
          overflow: hidden;
          background: #000;
          position: absolute;
          left: .36rem;
          top: .36rem;

          img {
            width: 100%;
          }
        }

        .col_icon {
          height: 2.2rem;
          width: 2.2rem;
        }
      }

      .middle {
        display: inline-block;
        vertical-align: top;
        height: 2.2rem;
        color: #fff;

        .middle-h1{
          font-size: .35rem;
          margin: .25rem 0;

          .icon-lv{
            height: .22rem;
            margin-bottom: .05rem;
          } 
        }

        .middle-h2{
          margin-top: .2rem;
          margin-bottom: .25rem;

          span{
            font-size: .2rem;
            line-height: .15rem;
            border: 1px solid #fff;
            padding: .05rem .1rem;
            border-radius: .05rem;
          }
        }
        
        .middle-h3{
          span{
            font-size: .22rem;
          }
        }
        
        
      }

      .right{
        width: .4rem;
        height: .4rem;
        position: absolute;
        top: 30%;
        right: .1rem;
        .icon{
          width: .4rem;
          height: .4rem;
        }
      }



    }
  }

  .member-content {
    background-color: #ffffff;
    margin-left: -1px;

    .member-content-title {
      font-size: .3rem;
      line-height: .8rem;
      padding: 0 .2rem;
      width: 100%;
    }

    .col_icon {
      width: .55rem;
    }

  }

  .member-hr {
    height: .2rem;
    background-color: #f4f4f4;
  }

}